{% load static %}
<html>
    <head>
        <title>Questions</title>
    </head>
    <body style="overflow:visible">
        <div id="meme_p" style="position:fixed;top:0">
            <h1>Correct Answer</h1>
            <img src="/static/memes/meme_p_{{ meme_no }}.jpg" height="50%" width="auto">
            <button onclick="showquest()">Show question</button>
        </div>
        <div id="ques" style="position:fixed;top:0">
            <h1>Question no. {{ q_no }}</h1>
            <p style="color:black;font-size:150%;">{{ ques_text }}</p>
            <img src="/static/questions/{{ ques_img }}.jpg" height="50%" width="auto">
            
        </div>
        <script>
            meme = document.getElementById("meme_p");
            ques = document.getElementById("ques");
            ques.style.visibility = "hidden";
            function showquest(){
                meme.style.visibility = "hidden";
                ques.style.visibility = "visible";
            }
            var qno = "{{ q_no }}";
            if(qno == '0'){
               showquest();
            }
            if(qno == '6'){
                document.body.style.backgroundColor = "black";

            }
        </script>
    </body>
</html>